*{
    margin: 0;
    padding: 0;
    color: black;
}
body{
  background-color: black;
}
#container{
    width: 50rem;
  height: 50rem;
  margin: 1rem 32rem;
  border-radius:46.3em;
  border:solid #b8b58b 3rem;
  position: fixed;
  background: color;
  background-color: #e1c1c1;
  z-index: 1;
}
#img{
    width: 50rem;
  height: 50rem;
  border-radius: 50%;
  filter: blur(2px);
}

.class1{
    margin:-47rem 37rem;
  font-size: 2rem;
  position: fixed;
}
.class2{
    margin:-39rem 45rem;
  font-size: 2rem;
    position: fixed;


}
.class3{
    margin:-27rem 48.4rem;
      font-size: 2rem;
      color: red;
        position: fixed;

}
.class4{
    margin:-15rem 45rem;
  font-size: 2rem;
    position: fixed;

}
.class5{
    margin:-7rem 37rem;
  font-size: 2rem;
  position: fixed;
  color: wheat;

}
.class6{
    margin:-3rem 25rem;
      font-size: 2rem;
        position: fixed;

}
.class7{
    margin:-6rem 12rem;
  font-size: 2rem;
  position: fixed;
  color: wheat;

}
.class8{
    margin:-15rem 4rem;
      font-size: 2rem; 
       position: fixed;


}
.class9{
     margin: -27rem 0.5rem;
    font-size: 2rem;
    color: red;
      position: fixed;

}
.class10{
    margin:-39rem 4rem;
  font-size: 2rem;
    position: fixed;

}
.class11{
    margin: -47rem 12rem;
    font-size: 2rem;
    position: fixed;
    
}
.class12{
    margin: -50rem 24rem;
      font-size: 2rem;
        position: fixed;

}
.a{
    display: flex;
}

.class13, .class14, .class15 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(0deg);
  }
  
  .class13 {
    width: 2px;
    height: 200px;
    background-color: 	#E63946;  /* Second hand */
    z-index: 3;
  }
.class14 {
    width: 4px;
    height: 180px;
    background-color: 	#1D3557;  /* Minute hand */
    z-index: 2;
  }
  
  .class15 {
    width: 6px;
    height: 140px;
    background-color: #457B9D;  /* Hour hand */
    z-index: 1;
  }
/* .class16{
    background-color: red;
    width: 2rem;
    height: 2rem;
    height: 2rem;
    margin:-27rem 24rem
    border-radius:3rem;
    position: fixed;
} */